*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}



.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 25px;
    margin: 20px 20px;
    top: 50%;
    left: 50%;
    width: 330px;
    height: 500px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    border-radius: 25px;
    
}

.category {
   background: #424568;
   color: #fff;
   padding: 5px 10px;
   font-size: 12px;
   border-radius: 5px;
   
}

.card-image img {
    width: 275px;
    height: 150px;
    border-radius: 25px;
 
}

.card-title {
    font-weight: bolder;
    padding: 5px 15px 0 8px;
    font-size: 21px;
    letter-spacing: 0;
}

.fa-customize {
    font-size: 5px;
    text-align: center;
    margin-top: 0;
    color: grey;
    padding: 0 3px;
}
.post-meta {
    display: table;
    vertical-align: middle;
    margin-top: 10px;
    padding: 0 15px 0 20px;
    font-size: 13px;
}

span i {
 display: table-cell;
 vertical-align: middle;
}

.rating {
    font-size: 23px;
    color: #FFB90D;
    text-align: center;
    padding: 0 15px 0 15px;
}
.rating-score {
    color: black;
    font-size: 15px;
}

.details {
    margin-top: 20px;
    font-size: 14.5px;
    padding: 0 20px 0 20px;
    
    
   
}
.pricing {
    text-align: right;
    padding-right: 20px;

}
.price {
    font-weight: bold;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-size: 15px;
    
}
.flag {
    padding-left: 100px;
}
.card-wrapper:hover {
    transform: scale(1.1);
    transition: .5s;
}
.coach {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
    
}


